body {

	background-color: black
}  

#header {
	margin-top:50px;
	width: 910px;
	height:115px;
	background-color: transparent;
	background-image: url("image/arias_architecture_07.png");
	background-repeat: no-repeat;
}

ul {
	margin-top: 10px;
	margin-left: -42px;
	list-style-type: none;
}

li {
	display: inline;
	padding: 30px;
}


a {
	font-family: verdana;
	font-size: .9em;
	font-weight: normal;
	color: #B3B3B3;
	text-decoration: none;
	/*text-transform: uppercase;*/
}

a:hover{
	color: white;
}

#menu {
	width: 910px;
	height: 40px;
	background-color: #111111;
	border-top: 1px dotted #282828;
	border-bottom: 1px dotted #282828;
	margin-bottom: 10px;
}


#arias {
	/*color: crimson;
	color: #c61236;*/
	color: #cc0000;
	font-weight: bold
}

#architecture {
	color: #A6A6A6;
	font-weight: bold
}

#container {
	background-color: transparent;
	width: 910px;
	margin-left: auto;
	margin-right: auto
}

#galleria { 
	width: 910px; 
	height: 600px; 
	background: black;
}


#footer{
	width: 910px;
	height: 80px;
	margin-top: 10px;
	background-color: #111111;
	border-top: 1px dotted #282828;
	border-bottom: 1px dotted #282828
}

#about_info {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	width: 800px;
	height: 100px;
	font-family: verdana;
	font-size: .9em;
}

#about_info h2 {

	font-size: 1.6em;
}

#about_info p {

	font-size: 1.2em;
}

#accent {
	/*ARIAS RED*/
	color: #E03535;
}

img.thumb{
	
	border: 1px solid grey;
	margin: 30px;
}

img.thumb:hover{
	border: 1px solid white;
}










