body {
	margin: 0px;
	/*background-color: #2F2F2F;*/
	background-color: black;
	height: 1300px;
	z-index: -12;
}  

.thumb {
	position:absolute;
	width: 100px;
	height: 100px;
	color:white;
	background-color: grey;
}

.thumb:hover {
	background-color:orange;
}

#thumb_container {
	position: absolute;
	top: 475px;
	left: 50px;
	z-index: 11;
	
}

#thumb_position_1 {
	top: 57px;
	left: 57px;
}

#thumb_position_2 {
	top: 57px;
	left: 214px;
}

#thumb_position_3 {
	top: 57px;
	left: 371px;
}

#thumb_position_4 {
	top: 57px;
	left: 528px;
}

#thumb_position_5 {
	top: 214px;
	left: 57px;
}

#thumb_position_6 {
	top: 214px;
	left: 214px;
}

#thumb_position_7 {
	top: 214px;
	left: 371px;
}

#thumb_position_8 {
	top: 214px;
	left: 528px;
}

#thumb_position_9 {
	top: 371px;
	left: 57px;
}

#thumb_position_10 {
	top: 371px;
	left: 214px;
}

#thumb_position_11 {
	top: 371px;
	left: 371px;
}

#thumb_position_12 {
	top: 371px;
	left: 528px;
}

#thumb_position_13 {
	top: 528px;
	left: 57px;
}

#thumb_position_14 {
	top: 528px;
	left: 214px;
}

#thumb_position_15 {
	top: 528px;
	left: 371px;
}

#thumb_position_16 {
	top: 528px;
	left: 528px;
}

.contact {
	font-family: arial;
	width: 210px;
	font-size: .75em;
}

#firm{
	font-family: arial;
	width: 210px;
	/*font-size: 1.9em;*/
	font-size: 21px;
	color: #D8D8D8;
}

#arias{
	color: #E23435;
}

a:link, a:visited {
	text-decoration: none;
}

p {
	position: absolute;
	color: grey;
	top: 343px;
	left: 200px;
	text-align: right;
}

span {
	color: white;
}

#golden_section {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 1796px;
	height: 1110px;
} 

.aa1 {
	position:absolute;
	top: 263px;
	left: 245px;
	background-image:url("image/aa_one_red.png");
	background-position: 0px 0px;
	width: 166px;
	height: 86px;
}

#boxes_dashed {
	position: absolute;
	top: 50px;
	left: 50px;
	background-image: url("image/background_boxes_6c.png"); 
	background-repeat: no-repeat; 
	width: 1796px;
	height: 1110px;
	z-index: 10;
} 


#curve {
	position: absolute;
	top: 50px;
	left: 50px;
	background-image: url("image/arc_only_slim_1.png"); 
	/*background-image: url("image/curve.png"); */
	background-repeat: no-repeat; 
	width: 1796px;
	height: 1110px;
	z-index: 10;
} 


#square_2 {
	position: absolute;
	background-color: maroon;
	top:424px;
	width: 686px;
	height: 685px;
}

#square_3 {
	position: absolute;
	/*background-color: black;*/
	width: 424px;
	height: 424px;
	z-index: 9;
}

#square_4 {
	position: absolute;
	left: 424px;
	border-bottom: 1px dashed #494949;
	width: 262px;
	height: 261px;
}

#square_4_tall {
	position: absolute;
	left: 424px;
	border-bottom: 1px dashed #494949;
	background-image: url("image/water_wise_1_faint.jpg"); 
	background-repeat: no-repeat; 
	width: 262px;
	height: 423px;
}

#square_5 {
	position: absolute;
	top: 262px;
	left:525px;
	width: 161px;
	height: 162px;
}







