body {
	margin: 0px;
	/*border: 1px dashed grey;*/
	background-color: black;
}  

#golden_rectangle {
	/*margin-top: 10px;
	margin-left: 10px;*/
	background-color: none;  
	border: 1px dashed grey;
	width: 1800px;
	height: 1112px;
} 

#square_1 {
	float: right;
	background-color: pink;
	border-left: 1px dashed grey;
	width: 1112px;
	height: 1112px;
}

#square_2 {
	position: absolute;
	background-color: violet;
	top:425px;
	border-top: 1px dashed grey;
	width: 688px;
	height: 688px;
}

#square_3 {
	position: absolute;
	background-color: green;
	border-right: 1px dashed grey;
	width: 425px;
	height: 425px;
	z-index: -1;
}

#square_4 {
	position: absolute;
	left: 425px;
	background-color: yellow;
	border-bottom: 1px dashed grey;
	width: 263px;
	height: 263px;
	z-index: -2;
}

#square_5 {
	position: absolute;
	top: 263px;
	left:525px;
	background-color: purple;
	border-left: 1px dashed grey;
	width: 163px;
	height: 163px;
	z-index: -3;
}

#square_6 {
	position: absolute;
	top: 325px;
	left:425px;
	background-color: orange;
	border-top: 1px dashed grey;
	width: 100px;
	height: 100px;
	z-index: -3;
}

#square_7 {
	position: absolute;
	top: 263px;
	left:425px;
	background-color: white;
	border-right: 1px dashed grey;
	width: 62px;
	height: 62px;
	z-index: -3;
}








