body {
	margin: 0px;
	/*border: 1px dashed #494949;*/
	background-color: black;
}  

.number {
	font-size: 1em;
	color: black;
}

#golden_rectangle {
	/*margin-top: 10px;
	margin-left: 10px;*/
	background-color: none;  
	border: 1px dashed #494949;
	width: 1796px;
	height: 1110px;
} 

#square_1 {
	float: right;
	background-color: none;
	border-left: 1px dashed #494949;
	width: 1110px;
	height: 1110px;
}

#square_2 {
	position: absolute;
	background-color: #8D8B3B;
	top:424px;
	border-top: 1px dashed #494949;
	width: 686px;
	height: 686px;
	z-height: 1;
}

#square_3 {
	position: absolute;
	background-color: white;
	border-right: 1px dashed #494949;
	width: 424px;
	height: 424px;
	z-index: -1;
}

#square_4 {
	position: absolute;
	left: 425px;
	background-color: blue;
	border-bottom: 1px dashed #494949;
	width: 262px;
	height: 262px;
	z-index: -2;
}

#square_5 {
	position: absolute;
	top: 262px;
	left:524px;
	background-color: grey;
	border-left: 1px dashed #494949;
	width: 162px;
	height: 162px;
	z-index: -3;
}

#square_6 {
	position: absolute;
	top: 325px;
	left:425px;
	background-color: red;
	border-top: 1px dashed #494949;
	width: 99px;
	height: 99px;
	z-index: -3;
}

#square_7 {
	position: absolute;
	top: 263px;
	left:425px;
	background-color: lime;
	border-right: 1px dashed #494949;
	width: 62px;
	height: 62px;
	z-index: -3;
}

#square_8 {
	position: absolute;
	top: 263px;
	left:488px;
	background-color: brown;
	border-bottom: 1px dashed #494949;
	width: 38px;
	height: 38px;
	z-index: -4;
}

#square_9 {
	position: absolute;
	top: 301px;
	left:502px;
	background-color: pink;
	border-left: 1px dashed #494949;
	width: 24px;
	height: 24px;
	z-index: -5;
}

#square_10 {
	position: absolute;
	top: 311px;
	left:488px;
	background-color: none;
	border-top: 1px dashed #494949;
	width: 14px;
	height: 14px;
	z-index: -6;
}








