/*BASE LAYOUT SECTION*/  

body {
	font-family: verdana, sans-serif; 
	margin: 20px; 
	background-color: blue; 
}     

p {
	border: 2px solid red
}



#box {
	margin-left: auto;    
	margin-right: auto; 
	background-color: #82888A;  
	border: 1px solid #5D5D5D;
	width: 800px;
	height: 1200px;
} 

#frame {
	position: absolute;  
	margin-top: 22px; 
	margin-left: 22px; 
	height: 756px; 
	width: 756px;
	background: #E7EAEA;
} 

#left-upper {
	position: absolute;
	margin: 22px;
	width: 195px;
	height: 195px;
}

#right-upper {
	position: absolute; 
	margin-top: 22px; 
	margin-left: 260px;
	width: 518px;
	height: 195px; 
}
  
#left-lower {
	position: absolute;
	margin-top: 260px; 
	margin-left: 22px;
	width: 195px;
	height: 518px;
}
 
#right-lower {
	position: absolute;
	margin-top: 260px; 
	margin-left: 260px; 
	width: 518px;
	height: 518px;
}

/*LOGO SECTION*/  

#logo {
	position: absolute;
	margin: 22px;
	background-image: url("image/logo_hover.png"); 
	background-repeat: no-repeat;
}
  
#logo a {
	position: absolute; 
	background-image: url("image/logo_3.png"); 
	background-repeat: no-repeat;
} 

#logo a:hover {
	position: absolute;
	background: transparent;
}

.logo_class { 
	width: 175px;
	height: 175px;
}   

/*PANE SECTION*/ 
  
#pane_all {
	position: absolute; 
	margin-top:22px;   
	margin-left: 280px;
	width: 498px;
	height: 175px;
}

#pane_button_1 {
	position: absolute; 
	background-image: url("image/dwg_hover.png"); 
	background-repeat: no-repeat;
} 


